/*  inline, block, inline-block  */

/* margin - Если указано одно значение, оно применяется ко всем сторонам.
Если два значения, первое значение применяется к верху и низу, а второе — к правой и левой стороне.
Если три значения, первое применяется к верху, второе к правой и левой стороне, а третье — к низу. */

.inline li {
    display: inline;  /* с помощью этого CSS-свойства мы меняем поведение блочного элемента li на строковое. */
}

.box {
    width: 32%;
    border: 1px solid black;
    background-color: #f4f4f4;
    display: inline-block;  /* блоки выстраиваются в линию, но по своему поведению элементы остаются блоками (у них есть размеры, высота, и они занимают какое-то пространство). */
    box-sizing: border-box;  /* Свойство box-sizing: border-box; в CSS изменяет модель коробки элемента, позволяя включать отступы и границы в общую ширину и высоту элемента. */
}

.img {         /* наша цель - расположить картинку по центру блока */
    width: 200px;   /* img, span, a - это inline-элементы. Поэтому браузер по умолчанию задает таким элементам свойство: "display: inline". Inline-элементам нельзя задавать границы margins. */
    display: block;  /* меняем поведение inline-элемента с помощью CSS */
    margin: 40px auto;
}